body{
     font-family: "Noto Sans", sans-serif;
     overflow: hidden;
}
*{
    box-sizing: border-box;
}
.loading{
  z-index: 9999999;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  
}
.loader {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        color: #fff;
      }
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin linear infinite;
        }
        .loader:after {
          color: #FF3D00;
          transform: rotateY(70deg);
          animation-delay: .4s;
        }

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
        }
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }
   

.side-nav{
    z-index: 9999;
    
}

.nav-menu{
    background-color: black;
    transition: 1s;
}
.nav-menu li , .icons , #slider ,#closeBtn, .nav-header-icons , .nav-menu-footer,.logo,.col-md-3{
    cursor: pointer;

}
input[placeholder], [placeholder], *[placeholder] {
    color: black !important;
}
.card {
    overflow: hidden;
    cursor: pointer;
}
.card-body{
    background-color: rgba(255, 255, 255, 0.7);
    transform: translateY(105%);
    transition: transform 0.5s;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}
.card:hover .card-body{
transform: translateY(0%);

}

.alert{
    width: fit-content;
}